@import './utils/variables';
@import './components/global';
@import './components/container';
@import './components/section';
@import './components/title-hiden';
@import './components/button-primary';
@import './components/title';

@import './components/pege-header';
@import './components/logo';
@import './components/site-nav';
@import './components/contact';
@import './components/menu-mob';
@import './components/hero';
@import './components/about';
@import './components/projects';
@import './components/team';
@import './components/soc-list';
@import './components/client';
@import './components/footer';

@import './components/footer-forn';
@import './components/footer-soc';
@import './components/filters';
@import './components/portfolio';
@import './components/overlay';
@import './components/backdrop';
@import './components/modal';
