.about-list {
  display: flex;
}
.about-list__items {
  flex-basis: calc((100% - 90px) / 4);
  &:not(:last-child) {
  margin-right: 30px;
}
}


.about-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-secondary);
}
.about-list__box {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-team);
  border-radius: 4px;
}

.about-list__icon {
  width: 70px;
  height: 70px;
}