.footer-soc {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
    display: inline-block;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 94px;
  }
}

.soc-list__link--inverse {
  background-color: var(--color-footer-soc);
  color: var(--color-primary-white);
}
