.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bgc-footer);

  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      var(--color-gradient),
      var(--color-gradient)
    ),
    url(..//..//images/hero-mob1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--color-gradient),
        var(--color-gradient)
      ),
      url(..//..//images/hero-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        to right,
        var(--color-gradient),
        var(--color-gradient)
      ),
      url(..//..//images/hero-tablet1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--color-gradient),
          var(--color-gradient)
        ),
        url(..//..//images/hero-tablet2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        var(--color-gradient),
        var(--color-gradient)
      ),
      url(..//..//images/hero-desktop1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--color-gradient),
          var(--color-gradient)
        ),
        url(..//..//images/hero-desktop2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--color-primary-white);
  font-weight: 900;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  padding: 10px 24px;
}
