.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--bgc-footer);

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      var(--color-gradient),
      var(--color-gradient)
    ),
    url(../images/banner-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--color-primary-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 24px;
}