.projects {
  padding-top: 0;

  @media screen and (max-width: 1199px){
    display: none;
    
  }
}

.projects-list__item {
  position: relative;
}

.projects-list {
  display: flex;
  align-items: center;
}
.projects-list__item {
  display: block;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.projects-list__tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  background-color: var(--color-projects-tumb);
}
.projects-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-white);
}
