:root {
  --color-primary: #212121;
  --color-primary-white: #ffffff;
  --color-secondary: #757575;
  --color-active: #2196f3;
  --color-button-active: #188ce8;
  --color-logo: #000000;
  --bgc-team: #f5f4fa;
  --bgc-footer: #2f303a;
  --color-border-bottom: #ececec;
  --color-border-card: #eeeeee;
  --color-icon: #afb1b8;

  --color-border-input: rgba(33, 33, 33, 0.2);
  --color-footer: rgba(255, 255, 255, 0.6);
  --color-footer-soc: rgba(255, 255, 255, 0.1);
  --color-form-border: rgba(255, 255, 255, 0.3);
  --color-border-modal-svg: rgba(0, 0, 0, 0.1);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --color-gradient: rgba(47, 48, 58, 0.4);
  --color-projects-tumb: rgba(47, 48, 58, 0.8);
  --color-overley: rgba(33, 150, 243, 0.9);

  --color-form-filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --color-filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --color-portfolio-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}